AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

UPSTASH_EMAIL=
UPSTASH_API_KEY=
UPSTASH_REDIS_USER=
UPSTASH_REDIS_PASSWORD=
UPSTASH_REDIS_PORT=

GITHUB_TOKEN=

FODDER_DISTRIBUTION_ID=
